@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Masquer les scrollbars */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Utilitaire pour texte justifié à droite */
.text-right-justify {
  text-align: justify;
  text-align-last: right;
}

/* Support pour 100svh (Small Viewport Height) */
@supports (height: 100svh) {
  .h-svh {
    height: 100svh !important;
  }
}

.h-svh {
  height: 100vh;
}

/* Hauteur de la navbar */
:root {
  --navbar-height: 80px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
