@font-face {
    font-family: 'pally-boldterrible';
    src: url('pally-bold-terrible-webfont.woff2') format('woff2'),
         url('pally-bold-terrible-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pally-mediumterrible';
    src: url('pally-medium-terrible-webfont.woff2') format('woff2'),
         url('pally-medium-terrible-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pally-regularterrible';
    src: url('pally-regular-terrible-webfont.woff2') format('woff2'),
         url('pally-regular-terrible-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}